@import "node_modules/ol/ol.css";

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items:  center;
}
#map {
  width: 90vw;
  height: 90vh;
}

.ol-popup {
  background-color: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  padding: 1.5vw;
  border-radius: 1vw;
  border: 0.1vw solid #cccccc;
  bottom: 12px;
}

.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  right: 2vw;
}
.ol-popup-closer:after {
  content: "✖";
  font-size: 1.5vw;
}

.ol-popup-content {
  font-size: 1vw;
}